@import '~mixins/breakpoints';

#about {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem 4rem 1rem;
  h1 {
    text-align: center;
    max-width: 500px;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    @include sm {
      font-size: 1.5rem;
    }
  }
  p {
    text-align: center;
    max-width: 500px;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.6);
  }
}